.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}
.page-enter, .page-leave-to {
	opacity: 0;
}
.multiselect__option--highlight {
	background-color: #37474F !important;
}
.carousel__item {
	background-size: contain !important;
}

.details-dialog-carousel .carousel__left .btn__content,
.details-dialog-carousel .carousel__right .btn__content {
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

#inspire,
#inspire-admin,
.index-page,
.login-page,
.register-page,
.temrs-page,
.cart-page,
.contact-page {
	font-family: Verdana;
}

@media all and (max-width: 1200px) {
	#inspire-admin.application {
		overflow: auto;
	}
	#inspire-admin .application--wrap {
		min-width: 1200px;
		display: block;
	}
}
