.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}
.page-enter, .page-leave-to {
	opacity: 0;
}
.multiselect__option--highlight {
	background-color: #37474F !important;
}
.carousel__item {
	background-size: contain !important;
}

#inspire,
.index-page,
.login-page,
.register-page,
.about-page,
.cart-page,
.contact-page {
	font-family: Verdana;
}